/.env
/vendor
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/public/storage
/public/hot
/bootstrap/cache/*
/node_modules
/.phpunit.cache
.phpunit.result.cache
*.log
.env.backup
.DS_Store
Thumbs.db
composer_output.txt
install_log.txt
artisan_output.txt
laravel_tmp/